.line-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.button-mail {
    color: #fff;
    background-color: #e3342f;
    height: 2.5rem;
    font-weight: 800;
}

.button-google {
    border: solid 1px #000;
    height: 2.5rem;
    font-weight: 800;
}

.button-line {
    color: #fff;
    background-color: #5CC857;
    height: 2.5rem;
    font-weight: 800;
}

.button-facebook {
    color: #fff;
    background-color: #0D6CE4;
    height: 2.5rem;
    font-weight: 800;
}

.button-register {
    font-weight: 800;
}

.form-control {
    background-color: #fff;
}

.input-area,
.login-save {
    font-weight: bold;
}

.login-button {
    background-color: #1E82F6;
    width: 50%;
    margin: 0 auto;
}

.register-area {
    background-color: #fff;
}

.register-button {
    border: solid 2px #1E82F6;
    width: 25%;
}

.register-button_text {
    color: #1E82F6;
    font-weight: bold;
}