/*--------------------------------------
  header
--------------------------------------*/

.navbar-brand {
    font-size: 2rem;
}

a.nav-link {
    background-color: #ffeb38;
    color: #007fc3;
    font-weight: bold;
    letter-spacing: 0.15rem;
}

.navbar-green {
    background: #ffffff;
    color: #000;
}

.navbar-green a {
    font-family: Metrophobic;
}

span.sub-title {
    color: #98A2B0;
    font-size: 50%;
    padding-left: 10px;
}


/*--------------------------------------
　　main
--------------------------------------*/


/* headerとcontainerの幅揃え */

body {
    width: 100%;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

div.top-index.mx-5 {
    margin-right: 0;
    margin-left: 0;
}

img.first-view_img {
    width: 100%;
}


/* 「無料」の文字に円枠 */

.letter-strong {
    padding: 0 0.5em;
    margin: 0.5em;
    color: #007FC3;
    background: #FFEB3B;
    border: solid 1px #007FC3;
    border-radius: 10px;
    display: inline-block;
    font-size: 70%;
    vertical-align: middle;
}

p.letter-strong {
    margin: 0;
    padding: 0;
}

.before {
    background-color: #223A50;
    color: #fff;
    border-radius: 20px;
    font-weight: normal;
}

.after {
    background-color: #007FC3;
    color: #fff;
    border-radius: 20px;
    font-weight: normal;
}

p.sub-title {
    font-size: 1em;
    color: #565656;
}

.title {
    color: #007FC3;
    font-size: 2em;
    font-weight: 100;
}

.explanation_wrapper {
    display: table;
}

.explanation {
    text-align: left;
    padding-left: 2rem;
    vertical-align: middle;
    display: table-cell;
}

.line {
    border-left: 3px solid #E5E7EB;
    margin: 0;
}

p.h5 {
    line-height: normal;
}

.pros {
    background-color: #E4EEF7;
}

.pros-container {
    background-color: #fff;
    border-radius: 20px;
}

.box {
    width: 3rem;
    height: 3rem;
    background: #66B2DB;
    position: relative;
    border-radius: 10%;
}

.box_inner {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 150%;
    font-weight: 300;
}

p.step_title {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: sans-serif;
    color: #2F4656;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

.step_detail {
    color: #2F4656;
}

.step-box {
    border: solid #2F4656 1px;
    border-radius: 2rem;
}

div.example {
    background-color: #F5F8FA;
}

div.example-box {
    margin-left: 5rem;
    margin-right: 5rem;
    box-shadow: 2px 5px 5px #a7a7a7;
    border-radius: 2rem;
    background-color: #fff;
    display: table;
}

div.example_inner {
    vertical-align: middle;
    display: table-cell;
}


/*タブ切り替え全体のスタイル*/

.tabs {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0 auto;
}


/*タブのスタイル*/

.tab_item {
    width: calc(100% / 2);
    height: 50px;
    border-bottom: 3px solid #5ab4bd;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
}

.tab_item:hover {
    opacity: 0.75;
}


/*ラジオボタンを全て消す*/

input[name="tab_item"] {
    display: none;
}


/*タブ切り替えの中身のスタイル*/

.tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/

#consulter:checked~#consulter_content,
#consultant:checked~#consultant_content {
    display: block;
}


/*選択されているタブのスタイルを変える*/

.tabs input:checked+.tab_item {
    background-color: #FFEB3B;
    color: #007FC3;
    font-weight: normal;
}

.btn_register {
    background-color: #FFEB3B;
    color: #007FC3;
    display: block;
    font-size: 180%;
}

.underbar_brown {
    background-color: #5c472b;
    height: 3px;
    width: 26%;
    margin: 46px auto;
}


/* .step_detail {
  background-color: #eef8ff;
  height: 450px;
  width: calc((100% - 3rem) / 3);
} */

.consulter_merit {
    background-color: #d3cbc4;
}


/*--------------------------------------
  footer
--------------------------------------*/

.footer_nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-bottom: 1px solid #6c757d;
}

.footer_logo {
    display: table;
    flex-direction: row;
}

.logo-text {
    font-family: Metrophobic;
    display: table-cell;
    vertical-align: middle;
}


/*--------------------------------------
　　my-page main
--------------------------------------*/

.mypage-index {
    background-color: #E4EEF7;
    overflow: hidden;
}

.mypage-container {
    background-color: #fff;
    width: 75%;
    margin: 5rem auto;
}

.mypage-container_top {
    display: flex;
    justify-content: center;
    position: relative;
}

h2.mypage-title {
    text-align: center;
}

p.contact-title {
    text-align: right;
    position: absolute;
    right: 0;
    font-size: 120%;
    color: #0047FF;
}

.profile_img {
    width: 10rem;
    height: 10rem;
    border: #000 1px;
}

.ticket_container {
    border-left: 4px solid #ff0202;
    width: 60%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.info_title {
    border-bottom: 5px solid #5C462B;
}

.ticket_detail {
    display: flex;
    position: relative;
    align-items: center;
}

.exchange-button {
    text-align: right;
    position: absolute;
    right: 0;
    background-color: #ff0202;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
}

.profile_container {
    border-left: 4px solid #66b2db;
    width: 60%;
    margin-top: 5rem;
}

.profile_table {
    border-collapse: separate;
    border-spacing: 2rem 0.5rem;
}

.edit-button {
    background-color: #66b2db;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
}

.account-button {
    background-color: #e2e0e0;
    border: none;
    margin: 1rem auto;
    font-size: 150%;
    font-weight: 400;
}

.submit-button {
    background-color: #66b2db;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
}