/*--------------------------------------
header
--------------------------------------*/

.navbar-brand {
    font-size: 2rem;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 4rem;
    padding-left: 4rem;
}

.nav-link {
    padding: 0.8rem 1rem;
}

a.nav-link .header_item {
    background-color: #ffeb38;
    color: #007fc3;
    font-weight: bold;
    letter-spacing: 0.15rem;
}

.navbar-green {
    background: #ffffff;
    color: #000;
}

.navbar-green a {
    font-family: Metrophobic;
    color: #000;
}

span.sub-title {
    color: #98a2b0;
    font-size: 50%;
    padding-left: 10px;
}